<html>
  <head>
    <title>Scan2Nextcloud</title>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap-material-design.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/static/css/ripples.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/roboto-fonts.css">
    <link rel="icon" href="/static/img/favicon.png">
    <style>
    body {
      margin-top: 10px;
    }
    </style>
  </head>
  <body>
    <div class="container">
{% if lock=="true" %}
      <form action="/" method="post" enctype="multipart/form-data">
	      <button name="reload" type="button" onClick="window.location.reload();" class="btn btn-raised btn-info btn-lg col-xs-12" id="reload" style="height: 80%; font-size: 30pt" id="load" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Reload"><i class="fa fa-refresh" aria-hidden="true"></i> Currently in use, click to try again</button>
      </form>
      <form action="/unlock" onsubmit="return confirm('Are you sure?');" method="post" enctype="multipart/form-data">
        <button name="unlock" value="true" type="submit" class="btn btn-raised btn-warning btn-lg col-xs-12" id="unlock" style="height: 10%; font-size: 30pt" id="load" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Unlocking"><i class="fa fa-unlock" aria-hidden="true"></i> Unlock in case of errors</button>
      </form>
{% else %}
      <form action="/" method="post" enctype="multipart/form-data">
        <button name="scan_format" value="pdf" type="submit" class="btn btn-raised btn-info btn-lg col-xs-12" id="pdf" style="height: 45%; font-size: 40pt" id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Scanning"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Scan to PDF</button>
        <button name="scan_format" value="png" type="submit" class="btn btn-raised btn-info btn-lg col-xs-12" id="png" style="height: 45%; font-size: 40pt" id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Scanning"><i class="fa fa-file-image-o" aria-hidden="true"></i> Scan to PNG</button>
      </form>
{% endif %}
    </div>
    <script src="/static/js/jquery.slim.min.js"></script>
    <script src='/static/js/bootstrap.min.js'></script>
    <script src='/static/js/button-spinner.js'></script>
    <script>
    $(window).on("load", function(){
      $('#{{ btn_id }}').removeClass('btn-info').addClass('btn-{{ state }} ');
        setTimeout(function() {
          $('#{{ btn_id }}').removeClass('btn-{{ state }}').addClass('btn-info ');
        }, 3000);
    });
    </script>
  </body>
</html>
